<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Simulador de Automatización FCI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <noscript>Necesitás habilitar JavaScript para usar la interfaz React.</noscript>
    <div id="root" data-sample="{{ sample_name }}"></div>

    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script type="module" src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
